/*regola palette "bosco nebbioso"
  Sfondo:#2E2E2E
  Secondario: #3F4A44
  testo #F5F3E7*/

body{
   background-color: #2E2E2E;
    font-size: 20pt;
    color: #F5F3E7;
    margin: 0;
}

h1, p{
    margin: 1rem;
}

footer{
    position: fixed;
    background-color: #3F4A44;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.8rem;
}

.TestoFooter{
    margin: 0;
    padding-left: 1rem;
}

.titolo, .descrizioneAllevamento{
    text-align: center;
}

.Crocevia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 5pt;
    margin-right: 5pt;
}

img{
    max-width: 100%;
}

.mappa{
    margin-top: 10%;
}

.mappa iframe{
    width: 100%;
    height: 450px;
}

.Licenza{
    font-size: 5pt;
    margin: 0.5rem 1rem 0 0;
}

.Container{
    position: relative;
    display: inline-block;
}

.ImgLink{
    display: block;
    will-change: transform, filter;
}

.Container .Imglink:hover{
    transform: scale(1.1);
    filter: blur(2px);
}

.Desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -90%);
    transaction: opacity 0.5s ease;
    pointer-events: none;
}

.Container .Desc:hover{
    opacity: 1;
}

@media(max-width: 600px) {
    body{
        font-size: 15pt;
    }
    
    footer{
        font-size: 15pt;
    }
}