/*regola palette "bosco nebbioso"
  Sfondo:#2E2E2E
  Secondario: #3F4A44
  testo #F5F3E7*/

body{
   background-color: #2E2E2E;
    font-size: 20pt;
    color: #F5F3E7;
    margin: 0;
}

h1, p{
    margin: 1rem;
}

footer{
    background-color: #3F4A44;
    width: 100%;
    bottom: 0;
    left: 0;
}

.TestoFooter{
    margin: 0;
}

.titolo, .descrizioneAllevamento{
    text-align: center;
}

.Crocevia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 5pt;
    margin-right: 5pt;
}

img{
    max-width: 100%;
}

.mappa{
    margin-top: 10%;
}

.mappa iframe{
    width: 100%;
    height: 450px;
}

.Licenza{
    font-size: 7pt;
    margin: 0.5rem 1rem 0.2rem 1.3rem;
}

.Singolo{
    position: relative;
    display: inline-block;
}

.ImgLink{
    display: block;
    will-change: transform, filter;
    transition: transform 1 ease, filter 1 ease;
}

.Singolo .ImgLink:hover {
    transform: scale(1.1);
    filter: blur(10px);
}

.Desc{
    position: absolute;
    top: -1%;
    opacity: 0;
    transform: opacity 0.5s ease;
    pointer-events: none;
    font-family: 'Rock Salt';
    text-align: center;
    line-height: 1.3;
}

.Genitori{
    left: -15%;
}

.Noi{
    left: 10%;
}

.Singolo:hover .Desc{
    opacity: 1;
}

@media(max-width: 600px) {
    body{
        font-size: 15pt;
    }
    .Desc{
        font-size: 10pt;
    }
    
    footer{
        font-size: 15pt;
    }
}